{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <h1>Something went wrong!</h1>

        <p>There is some error here. Please, try again later.</p>
    </div>
{% endblock %}